body{
	font-family: "Raleway", sans-serif !important;
	margin: 0 auto;
	font-weight: 300;
}
section,
.main_head{
	position: relative;
}
.main_head{
	min-height: 620px;
	padding-top: 20px;
}
.loader {
	background: none repeat scroll 0 0 #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-color: #fff;
	background-image: url("../img/loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 128px;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	position: absolute;
	top: 50%;
	width: 128px;
}
.toggle_mnu{
	-o-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	background-color:rgba(40,40,40,.6);
	border-radius: 5px;
	border: none;
	float: right;
	height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	top: 20px;
	width: 50px;
	z-index: 100;
}
.toggle_mnu:hover{
	cursor: pointer;
}
.sandwich {
	bottom: 0;
	height: 50px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
.sw-topper {
	background: #fff;
	border-radius: 4px 4px 4px 4px;
	border: none;
	display: block;
	height: 3px;
	left: 5px;
	position: relative;
	top: 13px;
	transition: transform 0.5s, top 0.2s;
	width: 40px;
}
.sw-bottom {
	background: #fff;
	border-radius: 4px 4px 4px 4px;
	border: none;
	display: block;
	height: 3px;
	left: 5px;
	position: relative;
	top: 20px;
	transition-delay: 0.2s, 0s;
	transition: transform 0.5s, top 0.2s;
	width: 40px;
}
.sw-footer {
	background: #fff;
	border-radius: 4px 4px 4px 4px;
	border: none;
	display: block;
	height: 3px;
	left: 5px;
	position: relative;
	top: 27px;
	transition-delay: 0.1s, 0s;
	transition: transform 0.5s, top 0.2s;
	width: 40px;
}
.sandwich.active .sw-topper {
	top: 23px;
	transform: rotate(135deg);
}
.sandwich.active .sw-bottom {
	top: 20px;
	transform: rotate(-135deg);
}
.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}
.top_mnu{
	background-color: rgba(0,0,0,.9);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 50;
}
.top_mnu ul li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.top_mnu ul{
	margin-top: 200px;
	text-align: center;
}
.top_mnu ul li a{
	color: #fff;
	display: block;
	font-size: 16px;
	letter-spacing: 4px;
	margin: 0 10px;
	padding: 20px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
ul li a:nth-child(1){
	-o-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
ul li a:nth-child(2){
	-o-animation-duration: .7s;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
}
ul li a:nth-child(3){
	-o-animation-duration: .9s;
	-webkit-animation-duration: .9s;
	animation-duration: .9s;
}
ul li a:nth-child(4){
	-o-animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
}
ul li a:nth-child(5){
	-o-animation-duration: 1.3s;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
}
.top_mnu a:hover{
	background-color: rgba(255,255,255,.05);
	color: #FF5837;
	transition: all 0.3s;
}
.top_wrapper{
	display: table;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.top_wrapper .top_descr{
	display: table-row;
}
.top_wrapper .top_descr .top_centered{
	display: table-cell;
	text-align: center;
}
.top_content{
	color: #fff;
	display: inline-block;
}
.top_content h1{
	-o-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 80px 0 30px;
	padding: 15px 0;
	text-transform: uppercase;
	word-spacing: 5px;
}
.top_content h1::after{
	background-color: #fff;
	content: "";
	font-weight: bold;
	height: 1px;
	left: 50%;
	margin: 90px 0 30px -125px;
	position: absolute;
	width: 250px;
}
.top_content h3{
	-o-animation-delay: 2s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 2;
	margin: 0;
	text-transform: uppercase;
}
section{
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	width: 100%;
}
.bg_light{
	background-color: #CACACA;
}
.bg_darkness{
	background-color: #A9A9A9;
}
.bg_dark{
	background-color: #272822;
	color: #FEFEFE;
}
.bg_dark .descr::after{
	background-color: #fff;
}
.section_content .container{
	width: 90%;
}
section h2{
	font-size: 24px;
	letter-spacing: 4px;
	line-height: 1.5;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.section_header .descr{
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 60px;
	position: relative;
	text-transform: uppercase;
}
.descr::after{
	background-color: #222;
	content: "";
	font-weight: bold;
	height: 1px;
	left: 50%;
	margin: 50px 0 30px -75px;
	position: absolute;
	width: 150px;
}
.descr_wrap{
	text-align: center;
}
.about h3{
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
}
.about p{
	font-size: 16px;
	line-height: 1.5;
	text-indent: 20px;
}
.my_photo{
	text-align: center;
}
.my_photo img{
	border-radius: 50%;
	display: inline-block;
	max-width: 200px;
}
.about p:nth-child(even){
	color: #AF0E0E;
}
.about p{
	letter-spacing: 1px;
	text-align: justify;
}
.about li{
	font-size: 16px;
	letter-spacing: 1px;
	margin: 5px;
	text-align: center;
}
.my_social{
	margin-right: 150px;
	text-align: center;
	width: 100%;
}
.my_social li{
	display: inline-block;
}
.my_social a>i{
	float: left;
	font-size: 24px;
	padding: 10px;
}
.resume_container .left{
	border-right: 1px solid #000;
	text-align: right;
}
.resume_container .right{
	outline-left: 1px solid #000;
	text-align: left;
}
.resume_container .left, 
.resume_container .right{
	margin-bottom: 25px;
}
.resume h3{
	color: #AF0E0E;
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 15px;
	text-transform: uppercase;
}
.resume p{
	font-size: 16px;
	letter-spacing: 0.25px;
}
.resume_item .resume_description{
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.25px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.resume_description strong,
.resume p strong{
	font-weight: 500;
	text-transform: none;
}
.resume .shift_down{
	margin-bottom: 165px;
}
.resume_item .year{
	background-color: #AF0E0E;
	color: #A9A9A9;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 5px;
	margin-top: 15px;
	padding: 5px 15px;
}
.portfolio .row{
	height: 100%;
	margin-bottom: 25px;
}
.mfp-figure img.mfp-img{
	padding: 0;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{
	background-color: #111;
	color: #777;
	height: 43px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close:hover{
	color: #fff;
	cursor: pointer;
}
.icon .fa{
	color: #AF0E0E;
	float: left;
	font-size: 30px;
	margin-right: 15px;
}
.icon .fa-home,
.icon .fa-newspaper-o{
	border-bottom: 2px dotted #AF0E0E;
}
.icon .fa-home:hover,
.icon .fa-newspaper-o:hover{
	border-bottom: 2px dotted #CE2D2D;
	color: #CE2D2D;
	cursor: pointer;
}
.contact_box > h3{
	color: #555;
	letter-spacing: 1px;
	margin-left: 60px;
	text-transform: uppercase;
}
.contact_box > p, 
.contact_box > a{
	color: #555;
	font-size: 18px;
	letter-spacing: 1px;
	margin-left: 60px;
}
.contact_box a:hover{
	border-bottom: 2px dotted #CE2D2D;
	color: #CE2D2D;
	text-decoration: none;
}
form input,
form textarea{
	font-weight: normal;
	line-height: 40px;
	margin-top: 10px;
	text-indent: 15px;
}
form input:focus,
form textarea:focus{
	border: 1px solid #AF0E0E;
	content: "";
}
.my_form label{
	color: #555;
	margin-top: 20px;
}
.my_form label span{
	color: #AF0E0E;
}
.form-group{
	display: block;
}
.form-group input{
	display: block;
	height: 50px;
	width: 50%;	
}
.form-group textarea{
	display: block;
	height: 100px;
	width: 100%;
}
.my_form button{
	background-color: #AF0E0E;
	border: medium none;
	color: #CACACA;
	float: right;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 10px;
	padding: 10px 20px;
	text-transform: uppercase;
}
.my_form button:hover{
	color: #fff;
	background-color: #CE2D2D;
}
#my_contacts .my_form .form-group .help-block .text_danger{
	color: #AF0E0E;
}
.main_footer{
	height: 80px;
}
.main_footer .container{
	width: 90%;
}
.main_footer .copyright{
	color: #999;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 35px;
	text-transform: uppercase;
	word-spacing: 5px;
}
.main_footer .copyright span{
	font-weight: bold;
}
.main_footer .my_social .fa{
	color: #999;
	margin-top: 20px;
	text-align: right;
}
.main_footer .my_social .fa:hover{
	color: #ddd;
}
.main_footer ul{
	text-align: right;
}