.carousel{
	height: 100%;
	width: 89%;
	margin: 0px auto 50px;
}
.carousel-inner .item img{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.carousel .carousel-control{
	width: 6%;
}
.carousel .carousel-control.right{
	background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
}
.carousel .carousel-control.left{
	background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
}
.carousel-indicators li{
	list-style: square;
}
.carousel-inner .item .carousel-caption h3{
	text-transform: uppercase;
}